@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  padding-top: 43px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signUpTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: transparent;
  background: $darkTurquoise;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 28px;
  @include no-select();
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 23px;
  padding-bottom: 26px;

  [class*="MuiOutlinedInput-notchedOutl"] {
    border: 1px solid var(--Grayscale-white, #fff);
  }
  [class*="MuiFormHelperText-root"] {
    color: #000000;
  }

  [class*="MuiOutlinedInput-input"] {
    color: var(--Grayscale-white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  [class*="MuiInputLabel"] {
    color: var(--Grayscale-white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}

.input:nth-child(1) {
  grid-column: 1 / -1;
  margin: 0;
  border-radius: 4px;
}

.input:nth-child(2) {
  grid-column: 1;
  margin: 0;
  border-radius: 4px;

  [class*="MuiSvgIcon-root"] {
    color: $plainWhite;
  }
}

.input:nth-child(3) {
  grid-column: 2;
  margin: 0;
  border-radius: 4px;

  [class*="MuiSvgIcon-root"] {
    color: $plainWhite;
  }
}

.checkbox {
  color: $plainWhite !important;
}

.formControlLabel {
  margin: 0;
  padding-bottom: 24px;

  [class*="Mui-checked"] {
    color: $darkTurquoise !important;
  }

  [class*="MuiTypography-root"] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.termsText {
  color: $plainWhite;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;

  a {
    text-decoration: none;
    color: $darkTurquoise;
  }
}

.error {
  margin-bottom: 16px;
  text-align: center;
}

.registerButton {
  background-color: $darkTurquoise !important;
  color: $plainWhite !important;
  border-bottom: 26px !important;
  border-radius: var(--borderRadius, 4px) !important;

  &:hover {
    background-color: $aqua !important;
  }

  &:disabled {
    background: var(
      --common-white_states-focusVisible,
      rgba(255, 255, 255, 0.3)
    ) !important;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: $charlestonGreen;
  }
}

.orText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 26px 0;
  @include no-select();

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
  }

  span {
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.googleButton {
  border: 1px solid #fff !important;
  color: #555 !important;
  padding: 8px 22px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;
  margin-bottom: 28px !important;
  border-radius: 4px !important;

  span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    @include no-select();
  }
}

.loginText {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17px;
  user-select: none;

  a {
    text-decoration: none;
    color: $darkTurquoise;
    font-weight: 700;
    line-height: 143%;
  }
}
