$smartphones: "only screen and (max-width: 579px)";
$smartphones_h: "only screen and (min-device-width : 414px) and (max-device-width : 768px) and (orientation : landscape)";
$tablets: "only screen and (min-width: 768px) and (max-width: 959px)";
$tablets_h: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$desktop_higher: "only screen and (min-width: 1281px)";
$desktop: "only screen and (min-width: 1025px) and (max-width: 1280px)";
$iPadPro: "only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)";
$iPadMini: "only screen and (min-device-width: 744px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)";

$maxWidth: 1800px;

// Color Palette
$americanBlue: #3e4165;
$darkTurquoise: #00cce0;
$charlestonGreen: #26272c;
$plainBlack: #000000;
$plainWhite: #ffffff;
$mediumTurquois: #44d3e0;
$manatee: #9da0ab;
$aqua: #00e7ff;
$persianGreen: #00ba88;
$gray: #bdbdbd;
$davysGrey: #535862;
$ghostWhite: #f7f7fc;
$oldLace: #fff4e5;
$violinBrown: #663c00;
