@use "../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin: 20px 0;
}

.description {
  font-size: 1rem;
  margin-bottom: 30px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.button {
  padding: 12px 24px;
  background-color: $darkTurquoise;
  color: $plainWhite;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: $mediumTurquois;
}

.footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: #888;
}
