@use "../../styles/variables" as *;

.container {
  max-width: 483px;
  margin: 0 auto;
  padding: 26px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  text-align: left;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41.99px;
  letter-spacing: 0.25px;
}

.subheading {
  text-align: left;
  padding-bottom: 43px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.loginTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: transparent;
  background: #00cce0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 28px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-bottom: 24px;

  .input:nth-child(1),
  .input:nth-child(2) {
    margin: 0;
  }
}

.error {
  margin-bottom: 16px;
  text-align: center;
}

.loginButton {
  background-color: #00cce0;
  color: #fff;
  margin-bottom: 26px;

  &:hover {
    background-color: #44d3e0;
  }

  &:disabled {
    background: var(--action-disabledBackground, rgba(0, 0, 0, 0.12));
    color: var(--action-disabled, rgba(0, 0, 0, 0.38));
  }

  span {
    color: inherit;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
}

.orText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
  }

  span {
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.googleButton {
  border: 1px solid #ccc !important;
  color: #555 !important;
  padding: 8px 22px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;
  margin-bottom: 28px !important;

  span {
    color: var(--action-disabled, rgba(0, 0, 0, 0.38));
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
}

.signUpText {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17px;

  a {
    text-decoration: none;
    color: #00cce0;
    font-weight: 700;
    line-height: 143%;
  }
}
