@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  padding-top: 43px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: transparent;
  background: $darkTurquoise;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 28px;
  @include no-select();
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-bottom: 18px;

  .input:nth-child(1),
  .input:nth-child(2) {
    margin: 0;
    border-radius: 4px;

    [class*="MuiSvgIcon-root"] {
      color: $plainWhite;
    }

    [class*="MuiOutlinedInput-notchedOutl"] {
      border: 1px solid var(--Grayscale-white, $plainWhite);
    }

    [class*="MuiFormHelperText-root"] {
      color: $plainBlack;
    }

    [class*="MuiOutlinedInput-input"] {
      color: var(--Grayscale-white, $plainWhite);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15px;
    }

    [class*="MuiInputLabel"] {
      color: var(--Grayscale-white, $plainWhite);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.15px;
    }
  }
}

.error {
  margin-bottom: 16px;
  text-align: center;
}

.forgotPassword {
  width: fit-content !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  padding: 8px 0px 8px 0px !important;
  cursor: pointer !important;

  span {
    text-transform: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.15px;
    font-style: normal;
    color: $darkTurquoise;
    margin: 0;
  }
}

.loginButton {
  background-color: $darkTurquoise !important;
  color: $plainWhite !important;
  margin: 54px 0px 26px 0px !important;
  border-radius: var(--borderRadius, 4px) !important;

  &:hover {
    background-color: $aqua !important;
  }

  &:disabled {
    background: var(
      --common-white_states-focusVisible,
      rgba(255, 255, 255, 0.3)
    ) !important;
  }

  span {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: $charlestonGreen;
  }
}

.orText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 25px 0;
  @include no-select();

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
  }

  span {
    color: #aaa;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.googleButton {
  border: 1px solid #fff !important;
  color: #555 !important;
  padding: 8px 22px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;
  margin-bottom: 28px !important;
  border-radius: 4px !important;

  span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    @include no-select();
  }
}

.signUpText {
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.17px;
  user-select: none;

  a {
    text-decoration: none;
    color: $darkTurquoise;
    font-weight: 700;
    line-height: 143%;
  }
}
