@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.informativeText {
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin-top: 55px;
  margin-bottom: 55px;
  @include no-select();
}
